.features{
    padding: 4rem 5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    background-color: #0e0e0e;
  }
  .features img{
    width: 32%;
  }
  .featuresCont {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  
  .featureCard {
    width:14rem;
    background-color: #1d1b1b;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
    position: relative;
  }
  
  .featureCard:hover {
    background-color:rgb(6, 207, 106);
  }
  .featureCard:hover div{
    color: #0e0e0e;
  }
  .featureCard:hover svg{
    color: #0e0e0e;
  }
  
  .featureCardCont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    /* justify-content: space-between; */
    width: 100%;
  }

  .cardImg{
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cardImg img{
    width: 100%;
  }

  @media (max-width:720px){
    .features {
      padding: 2rem 1.5rem 2rem 1.5rem;
      flex-direction: column-reverse;
    }
    .features img{
      width: 100%;
    }
    .featuresCont{
      gap: 1rem;
    }
    .featureCard{
      width: 100%;
      padding: 1rem;
      gap: 0.3rem;
      flex-direction: row-reverse;
    }
    .featureCardCont{
      gap: 2rem;
      flex-direction: column;
      align-items: center;
    }
    .cardImg{
      padding: 0 0.2rem;
    }
    .cardImg img{
      width: 7rem;
      object-fit: contain;
    }

  
  }
  