.landingContainer {
  width: 100%;
  overflow: hidden;
  min-height: 90vh;

}

.mainPage {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 8rem 9rem 0rem 9rem;
  color: white;
}

.bgImg{
  position: absolute;
  z-index: -1;
  object-fit: contain;
  width: 100%;
  filter: brightness(50%);
}
.pageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Rubik', sans-serif;
}

.exerciseContainer {
  display: flex;
  flex-direction: row;
  padding: 5rem 5rem 1rem 5rem;
  justify-content: space-between;
  color: white;
}

.balance {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.features{
  padding: 4rem 5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-color: #0e0e0e;
}
.features img{
  width: 30%;
}
.featuresCont {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  

}

.featureCard {
  max-width:15rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1em;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
  position: relative;
}

.featureCard:hover {
  background-color:rgb(6, 207, 106);
}
.featureCard:hover div{
  color: #0e0e0e;
}
.featureCard:hover svg{
  color: #0e0e0e;
}

.featureCardCont {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  /* justify-content: space-between; */
  width: 100%;
}

.cardContent{
  z-index: 0;
  padding: 1em;

}

.cardImg{
  padding: 0 3rem;
}
.cardImg img{
  width: 100%;
}
.footer-basic {
  padding: 40px 0;
  background-color: #2d2d2d;
  color: white;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic li:hover {
  color: rgb(0, 205, 109);
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
  justify-content: center;
  gap: 2rem;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
  color: rgb(0, 205, 109);
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.contentHome {
  color: white;
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: row;
}


.programs {
  display: flex;
  gap: 10rem;
  justify-content: center;
}

@media only screen and (max-width: 730px) {
  .pageTitle h1 {
    font-size: 1.5em;
  }

  .pageTitle p {
    font-size: 1em;
  }

  .mainPage {
    padding: 8rem 1.5rem 0rem 1.5rem;
  }

  .featuresCont {
    padding: 2rem 1.5rem 2rem 1.5rem;
  }

  .featureCardCont {
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
}