.navbarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
   
}
.logoCont{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    cursor: pointer;
}
.imgLogo{
    width: 3em;
}

.imgLogo img{
    width: inherit;
}

.links ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.links ul li{
    display: inline;
    cursor: pointer;
    transition: 0.3s;
}

.links ul li:hover{
    color: rgb(6, 207, 106);
}

@media only screen and (max-width: 730px)
{
    .navbarContainer{
        padding: 1rem 1rem;
    }
}