.profileCont{
    min-height: 100vh;
    background-color: #151515;
    font-family: 'Rubik', sans-serif;
    padding: 7rem 5rem 2rem 5rem;
    display: flex;
    gap: 1rem;
}

.goalsCont{
    background: #1f1f1f;
    border-radius: 1rem;
    padding: 1em;
}

.userCont{
    color: white;
    padding: 1rem;
    width: 100%;
    background: #1f1f1f;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media (max-width:720px){
    .profileCont{
        padding: 4rem 2rem;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
}