.profileCont{
    min-height: 100vh;
    background-color: #1b1b1b;
    font-family: 'Rubik', sans-serif;
    padding: 7rem 5rem 2rem 5rem;
    display: flex;
    gap: 1em;
}

.goalsCont{
    background: #1f1f1f;
    border-radius: 1rem;
    padding: 1em;
}

.userCont{
    color: white;
    padding: 1rem;
    width: 100%;
    background: #1f1f1f;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}