.goalCont{
    min-height: 100vh;
    width: 100%;
    margin-top: 6rem;
}
.progressCont{
    background-color: rgb(41 41 41);
    width: 100%;
    border-radius: 1rem;
}
.progressBar{
    padding-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.bar{
    width: 94%;
    height: 14%;
    border-radius: 1rem;
    position: absolute;
    top: 86%;
    background-color: rgb(6, 207, 106);
}

.checkBtn{
    cursor: pointer;
    transition: 0.3s;
}
