.review{
    display: flex;
    flex-direction: row;
    padding: 4rem 5rem;
    gap: 1rem;
    background-color: #04090f;
    color: white;
}


.reviewCont{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    gap: 1rem;
}

.reviewCard{
    background-color: #1d1d1d;
    border-radius: 0.5rem;
    padding: 1rem;
    min-width: 100%;
}
.reviewCardCont{

    width: 70%;
    overflow-x: hidden;

}
.swipeWindow{
    display: flex;
    flex-direction: row;
   
    transition: 0.3s;
}
.sliderDots{
    font-size: 2rem;
    color: grey;
}
.active{
    color: white;
}