.reviewCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 5rem;
    gap: 3rem;
    background-color: #04090f;
    color: white;
}

.reviewCard{
    background-color: #1d1d1d;
    border-radius: 0.3rem;
    padding: 1rem;
    max-width: 21rem;
}
.reviewCardCont{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    position: relative;
}

.cardLeft{
    position: absolute;
    left: -3rem;
    top: 45%;
    cursor: pointer;
}
.cardRight{
    position: absolute;
    right: -3rem;
    top: 45%;
    cursor: pointer;
}
